{% extends "base.html" %}
{% block content %}
<style>
    body main {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="row">
            {% for post in post_list %}
            <div class="col-lg-6 mt-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on|date:"D, d F Y H:i:s" }} </p>
                        <p class="card-text">{{post.content|safe|slice:":100" }}</p>
                        <a href="{% url 'post_detail' post.id  %}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> {{ page_obj.previous_page_number }} &laquo; PREV</a></li>
        {% endif %}
        <span style="padding-top:7px">&nbsp;&nbsp;Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.&nbsp;&nbsp;</span>
        {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo; {{ page_obj.next_page_number }} </a></li>
        {% endif %}
    </ul>
</div>
{%endblock%}
