{% extends "base.html" %}
{% block content %}
{% for post in posts %}
<div class="container mt-4">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-8 offset-md-2 mb-4">
            <article class="media content-section box-content p-4 border rounded">
                <img class="rounded-circle author-image" src="{{ post.author.profile.image.url }}">
                <div class="media-body ml-3">
                    <div class="article-metadata">
                        <a class="font-weight-bold author-name" href="#">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted }}</small>
                    </div>
                    <h1 class="display-6"><a href="#"><strong>{{ post.title }}</strong></a></h1>
                    <p class="post-content">{{ post.content }}</p>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}
